*.pyc
src/utils/__pycache__/utils.cpython-36.pyc
src/view/__pycache__/main2UI.cpython-36.pyc
src/view/__pycache__/mainUI.cpython-36.pyc
src/view/__pycache__/splash.cpython-36.pyc
src/utils/__pycache__/utils.cpython-36.pyc
